<section class="phx-hero">
  <h1>Deploying Elixir: Advanced Topics</h1>
  <p>This is a node in a cluster of Erlang Nodes</p>
</section>

<section class="row">
  <article class="column">
    <h2>This node</h2>
    <ul>
      <li>
        <%= @this_node %>
      </li>
    </ul>
  </article>
  <article class="column">
    <h2>Other nodes</h2>
    <ul>
      <%= for node <- @other_nodes do %>
        <li>
          <%= node %>
        </li>
      <% end %>
    </ul>
  </article>
</section>
